<div class="fixed navbar bg-base-100 shadow-sm z-10">
  <div class="flex-1">
    <a id="title" routerLink="/" class="btn btn-ghost text-xl">Book Buddy</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div id="btn-profile" tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow border border-gray-200"
      >
        <li>
          <a> <i class="bi bi-person"></i> Profile </a>
        </li>
        <li>
          <a> <i class="bi bi-gear"></i> Settings </a>
        </li>
        <li>
          <a id="btn-sign-out" class="text-red-500" (click)="signOut()">
            <i class="bi bi-box-arrow-right"></i> Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
