<div class="h-screen flex flex-col justify-center items-center">
  <div class="w-8/12 sm:w-6/12 md:w-4/12 lg:w-3/12 flex flex-col">
    <h1 class="text-2xl font-bold mb-4">Book Buddy</h1>
    <h2 class="text-xl font-semibold mb-6">Sign in</h2>
    <form class="space-y-2" [formGroup]="form" (ngSubmit)="signIn()">
      @if (error()) {
        <div role="alert" class="alert alert-error alert-soft alert-horizontal">
          <i class="bi bi-exclamation-circle"></i>
          <span>{{ error() }}</span>
        </div>
      }
      <fieldset class="fieldset">
        <label for="email" class="label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="input"
          [class.input-error]="invalidEmail"
          placeholder="Enter your email"
          autocomplete="email"
          formControlName="email"
        />
        @if (invalidEmail) {
          @if (email.hasError("required")) {
            <p class="validator-error">Email is required.</p>
          }
          @if (email.hasError("email")) {
            <p class="validator-error">Email must be a valid email address.</p>
          }
        }
        <label for="password" class="label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="input"
          [class.input-error]="invalidPassword"
          placeholder="Enter your password"
          formControlName="password"
        />
        @if (invalidPassword) {
          @if (password.hasError("required")) {
            <p class="validator-error">Password is required.</p>
          }
        }
      </fieldset>
      <button id="btn-sign-in" type="submit" class="btn btn-primary w-full">
        Sign in
      </button>
    </form>
    <div class="divider"></div>
    <p class="text-sm">
      Don't have an account?
      <a routerLink="/sign-up" class="link link-primary">Sign up</a>
    </p>
  </div>
</div>
