/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

@plugin "daisyui" {
  themes: light --default, corporate;
}

@theme {
  --header-height: 64px;
  --footer-height: 64px;
  --sidebar-width: 300px;
}

.link-active {
  @apply bg-blue-100 text-blue-500;
}

form.ng-invalid.ng-submitted input.ng-invalid,
form.ng-invalid input.ng-invalid.ng-dirty.ng-touched {
  @apply border border-red-500;
}
