/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons";

@plugin "daisyui" {
  themes:
    light --default,
    corporate;
}

@theme {
  --header-height: 64px;
  --footer-height: 64px;
  --sidebar-width: 300px;
}

.validator-error {
  @apply text-red-500 text-sm font-light;
}

input::placeholder {
  @apply text-gray-500;
}
